<a href="https://colab.research.google.com/github/Davionfer03/DSPL-CW-2/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import necessary libraries
import pandas as pd

In [4]:
#Read csv file
df= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DSPL Ind CW/external-debt_lka.csv")

In [5]:
# Remove the first row (which contains metadata, not actual data)
df = df.iloc[1:].reset_index(drop=True)

In [6]:
# Convert 'Year' to integer and 'Value' to float
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

In [7]:
# Check and drop rows with missing values
df = df.dropna(subset=['Year', 'Value'])

In [8]:
# Reset index again after cleaning
df = df.reset_index(drop=True)

# Display cleaned data info
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    2925 non-null   object
 1   Country ISO3    2925 non-null   object
 2   Year            2925 non-null   int64
 3   Indicator Name  2925 non-null   object
 4   Indicator Code  2925 non-null   object
 5   Value           2925 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 137.2+ KB
None
  Country Name Country ISO3  Year  \
0    Sri Lanka          LKA  2023
1    Sri Lanka          LKA  2022
2    Sri Lanka          LKA  2021
3    Sri Lanka          LKA  2020
4    Sri Lanka          LKA  2019

                                      Indicator Name  Indicator Code  \
0  Imports of goods, services and primary income ...  BM.GSR.TOTL.CD
1  Imports of goods, services and primary income ...  BM.GSR.TOTL.CD
2  Imports of goods, services and primary income ...  BM.GSR.TOTL.CD
3  Imports of goods, services and primary income ...  BM.GSR.TOTL.CD
4  Imports of goods, services and primary income ...  BM.GSR.TOTL.CD

          Value
0  2.185014e+10
1  2.138009e+10
2  2.360127e+10
3  2.067499e+10
4  2.727543e+10

In [11]:
# Save the Preprocessed data to a new CSV file
df.to_csv("preprocessed_dataset.csv", index=False)